In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(42)

In [21]:
# Number of products and records

num_products = 50
days = 365

products = [f"P{i}" for i in range(1, num_products + 1)]
dates = pd.date_range(start="2024-01-01", periods=days)

data=[]

for product in products:
    base_cost = np.random.uniform(5, 50) #randomly generate base cost
    base_price = base_cost * np.random.uniform(1.2, 2.0) #randomly generate selling price
    elasticity = np.random.uniform(-2.5, -0.5) #demand falls when price rises

    for date in dates:
        competitor_price = base_price * np.random.uniform(0.9, 1.1)
        price = np.random.normal(base_price, 1.5)

        #Seasonality factor
        month_factor = 1+(np.sin((date.month-1)/12 * 2 * np.pi) * 0.1)

        inventory = np.random.randint(20, 200)

        #Demand (Units Sold)
        demand = (100 * month_factor + elasticity * (price - base_price) * 10 + np.random.normal(0, 3))
        # The above formulas first calculate a base demand influenced by seasonality, then adjust it based on price elasticity and add some random noise.

        demand = max(0, int(demand)) #demand cannot be negative

        data.append([product, date,f"{base_cost:.2f}",f"{price:.2f}",f"{competitor_price:.2f}",inventory, demand])

df = pd.DataFrame(data, columns=["Product_ID", "Date", "Base_Cost", "Price", "Competitor_Price", "Inventory", "Units_Demanded"])

In [22]:
df.head()

,Product_ID,Date,Base_Cost,Price,Competitor_Price,Inventory,Units_Demanded
0,P1,2024-01-01,15.48,28.13,29.41,46,106
1,P1,2024-01-02,15.48,28.94,28.40,156,78
2,P1,2024-01-03,15.48,27.54,27.36,178,112
3,P1,2024-01-04,15.48,28.00,30.52,143,114
4,P1,2024-01-05,15.48,27.57,28.48,98,122

In [23]:
df.tail()

,Product_ID,Date,Base_Cost,Price,Competitor_Price,Inventory,Units_Demanded
18245,P50,2024-12-26,38.55,69.90,73.81,158,85
18246,P50,2024-12-27,38.55,68.09,74.99,91,113
18247,P50,2024-12-28,38.55,66.27,72.09,32,147
18248,P50,2024-12-29,38.55,69.50,70.15,172,85
18249,P50,2024-12-30,38.55,68.58,62.22,27,101

In [24]:
df.to_csv("D:/Code_ML/dynamic_pricing_engine/data/processed/simulated_pricing_data.csv", index=False)
print("Simulated data generated and saved to pricing_data.csv")

Simulated data generated and saved to pricing_data.csv

In [25]:
#EOF